
@{ ViewData["Title"] = "About Us"; }
<div class="about-section">
    <h1><b>About Us Page</b></h1>
    <p>Impact Hub builds this framework for entrepreneurs and innovators, which it supports to fulfill their own missions and to develop initiatives with a positive impact on society - humanistic, social and economic.</p>
    <p><b>We are really happy that you are here!.</b></p>
</div>

<h2><b>Our Team</b></h2>
<div class="row">
    <div class="column">
        <div class="card" style="background-color: #b2d8d8">
            <img src="/img/janedoe.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Jane Doe</h2>
                <p class="title">CEO & Founder</p>
                <p>Creates an environment and culture that focuses on fulfilling the company’s mission, vision, and values.</p>
                <p>janedoe@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card" style="background-color: #b2d8d8">
            <img src="/img/joedonovan.jpg" alt="Joe" style="width:100%">
            <div class="container">
                <h2>Joe Donovan</h2>
                <p class="title">Location Manager</p>
                <p>Providing all relevant support information to all services and crew.</p>
                <p>joedonovan@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
